<template name='new'>
  {{ #with newTracker }}
  <div class="mdl-grid">
    <h3 class='mdl-cell mdl-cell--4-col-phone mdl-cell--5-col-tablet mdl-cell--12-col'>
      {{time}}
    </h3>

    {{#if isTrackReady}}
      <div class="mdl-cell mdl-cell--4-col-tablet mdl-cell--2-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input fromDate" type="text" id='fromDate' value="{{parseToTime start 'DD.MM.YY'}}">
        <label class="mdl-textfield__label" for="fromDate">From date (dd.mm.yy)</label>
      </div>
      <div class="mdl-cell mdl-cell--4-col-tablet mdl-cell--2-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input clockpicker from" type="text" id='from' value="{{parseToTime start 'HH:mm'}}">
        <label class="mdl-textfield__label" for="from">From time (hh:mm)</label>
      </div>
      <div class="mdl-cell mdl-cell--4-col-tablet mdl-cell--2-col mdl-cell--2-offset-desktop mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input tillDate" type="text" id='tillDate' value="{{parseToTime stop 'DD.MM.YY'}}">
        <label class="mdl-textfield__label" for="tillDate">To date (dd.mm.yy)</label>
      </div>
      <div class="mdl-cell mdl-cell--4-col-tablet mdl-cell--2-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input till clockpicker" type="text" id='till' value="{{parseToTime stop 'HH:mm'}}">
        <label class="mdl-textfield__label" for="till">To time (hh:mm)</label>
      </div>
    {{/if}}
    <div class="mdl-cell mdl-cell--4-col-tablet mdl-cell--8-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input title" type="text" id="sample3" value="{{title}}">
      <label class="mdl-textfield__label" for="sample3">Title...</label>
    </div>

    <div class="mdl-cell mdl-cell--4-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select mdl-selectfield--floating-labe">
      <input class="mdl-textfield__input" id="label" style='color:{{getLabel.color}}' value="{{getLabel.title}}" type="text" readonly tabIndex="-1">
      <label class="mdl-textfield__label" for="label">Choose label</label>
      <div class='mdl-selectfield_box'>
        <span class='mdl-selectfield__arrow-down'></span>
      </div>
      <ul class="mdl-menu mdl-js-menu list" for="label">
        {{#each getLabels}}
          <li class="mdl-menu__item" labelId='{{_id}}' style='color:{{color}}'>
            {{title}}
            <button style='right:0px;top:10px;' class="mdl-button mdl-js-button mdl-button--icon mdl-color-text--accent changeLabel">
              <i class="material-icons">settings</i>
            </button>
          </li>
        {{/each}}
        <li class="mdl-menu__item mdl-color-text--primary new">
          <i style='right:0px' class="material-icons">add</i>
          New label
        </li>
      </ul>
    </div>

    {{#if isTrackReady}}
      <button class="mdl-cell mdl-cell--4-col-phone mdl-cell--12-col mdl-button mdl-button--colored mdl-js-button mdl-button--raised mdl-js-ripple-effect remove">
        Löschen
      </button>
    {{else}}
      <button class="mdl-cell mdl-cell--2-col-phone mdl-cell--4-col mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect start" {{startDisabled}}>
        Start
      </button>
      <button class="mdl-cell mdl-cell--2-col-phone mdl-cell--4-col mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect stop" {{stopDisabled}}>
        End
      </button>
    {{/if}}
    <h4 class="mdl-cell mdl-cell--12-col">Description</h4>
    <div class="mdl-cell mdl-cell--12-col mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
      <div class="mdl-tabs__tab-bar">
        <a href="#editor-panel" class="mdl-tabs__tab">Edit</a>
        <a href="#markdown-panel" class="mdl-tabs__tab is-active">Markdown</a>
      </div>
      <div class="mdl-tabs__panel" id="editor-panel">
        <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield">
          <textarea class="mdl-textfield__input desc" type="text" rows="5" id="sample5">{{desc}}</textarea>
          <label class="mdl-textfield__label" for="sample5">Description...</label>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--12-col mdl-tabs__panel is-active" id="markdown-panel">
        {{#markdown}}
          {{desc}}
        {{/markdown}}
      </div>
    </div>
  </div>
  {{ /with }}
  {{>newLabel}}
</template>

<template name='newLabel'>
  <dialog class="mdl-dialog">
    {{#with newLabelObj}}
      <div class="mdl-dialog__content">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input title" style='background-color:{{color}}' type="text" id="labelTitle" value="{{title}}">
            <label class="mdl-textfield__label" for="labelTitle">Titel...</label>
          </div>
          <select class="mdl-cell mdl-cell--12-col" id="colorpicker" value='{{color}}'>
            <option value="#7bd148">Green</option>
            <option value="#5484ed">Bold blue</option>
            <option value="#a4bdfc">Blue</option>
            <option value="#46d6db">Turquoise</option>
            <option value="#7ae7bf">Light green</option>
            <option value="#51b749">Bold green</option>
            <option value="#fbd75b">Yellow</option>
            <option value="#ffb878">Orange</option>
            <option value="#ff887c">Red</option>
            <option value="#dc2127">Bold red</option>
            <option value="#dbadff">Purple</option>
            <option value="#e1e1e1">Gray</option>
          </select>
        </div>
      </div>
      <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
        <div class="mdl-grid">
          {{#unless isNew}}
            <button type="button" class="mdl-cell mdl-cell--4-col mdl-button removeLabel mdl-button--accent">remove</button>
          {{/unless}}
          <button type="button" class="mdl-cell mdl-cell--4-col mdl-button close">Cancel</button>
          <button type="button" class="mdl-cell mdl-cell--4-col mdl-button mdl-button--primary create">
            {{#if isNew}}
              Create
            {{else}}
              Update
            {{/if}}
          </button>
        </div>
      </div>
    {{/with}}
  </dialog>
</template>
